<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNewPwd</servlet-name>
        <servlet-class>Servlets.ServletNewPwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInit</servlet-name>
        <servlet-class>Servlets.ServletInit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCaddie</servlet-name>
        <servlet-class>Servlets.ServletCaddie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPayement</servlet-name>
        <servlet-class>Servlets.ServletPayement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNewPwd</servlet-name>
        <url-pattern>/ServletNewPwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInit</servlet-name>
        <url-pattern>/ServletInit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCaddie</servlet-name>
        <url-pattern>/ServletCaddie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPayement</servlet-name>
        <url-pattern>/ServletPayement</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
